{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block titlearticle %}Today{% endblock %}

{% block content %}<p>
    Anthropologists have <br/>
					discovered that fe<br/>
					ar, happines<br/>
					s, sadness<br/>
					, and surpri<br/>
					se are univer<br/>
					sally refl<br/>
					ected <br/>
					in facial ex<br/>
					pressions.<br/>

					3.人类<br/>
					学家们已经发现，<br/>
					恐惧，快<br/>
					乐，悲伤和惊奇都会<br/>
					行之于色，这<br/>
					在全人类<br/>
					是共通的。<br/>

					4. Because of
					 its irritat<br/>
					ing effect on <br/>
					humans, the u<br/>
					se of phenol as<br/>
					 a general antiseptic<br/>
					 has been largely discontinued.<br/>
					<br/>
					<br/>性作用，它基本上已不再被当作常<br/>
					用的防腐剂了</p>
{% endblock %}